* {
    margin: 0;
    box-sizing: border-box;
}

/* Set background color of the body */
body {
    background-color: #f4f1de;
}

/* Style the header */
header {
    background-color: #3d405b;
    color: #f4f1de;
    padding: 1% 1%;
}

/* Style the main title in the header */
header h1 {
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
}

/* Style the subtitle in the header */
header p {
    font-family: "PT Serif", serif;
    font-weight: 400;
}

/* make the main flexbox for nav and main */
#flex1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* style the backgound of the nav menu */
nav ul {
    background-color: #e07a5f;
    width: 30vw;
    height: auto;
    min-height: 100vh; 
    padding: 1% 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* style the nav buttons of the nav menu */
nav ul li {
    background-color: #f4f1de;
    border: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 2%;
    margin: 8% 8%;
    height: 30%;
    text-align: center;
    
}

/* stlye the font in the nav menu buttons */
nav ul li a {
    color:#3d405b;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
    font-size: calc(3.5vw + 2px);
    text-decoration: none;
}

/* format the main size and placement */
main {
    width: 70vw;
    height: auto;
    min-height: 100vh; 
    margin-top: 4vh;
}

/* style the main header of the page */
main h2 {
    color: #3d405b;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
    text-align: center;
    font-size: calc(5vw + 4px);
}

/* Make the reference tables layed out in a column */
#flex2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style the reference items */
.ref {
    margin-top: 5vh;
    margin-bottom: 0.5vh;
    font-size: calc(2vw + 3px);
    font-family: "PT Serif", serif;
    font-weight: 400;
}

/* Align the reference table headers */
.ref h3 {
    text-align: center;
    margin-bottom: 2vh;
}

/* make the top rows bold */
#top {
    font-weight: bold;
}

/* Collapse the ref table borders */
.ref table {
    border-collapse: collapse;
}

/* add padding to the table items and style border */
.ref table tr td{
    border: 0.5vw solid #3d405b;
    padding: 1vh 1vw;
}


/* style the footer */
footer {
    background-color: #3d405b;
    color: #f4f1de;
    padding: 1% 1%;
    font-family: "PT Serif", serif;
    font-weight: 400;
}

/* make the credit tag yellow */
#credit {
    color: yellow;
}

/* adjust for smaller screens */
@media screen and (max-width: 750px){
    /* change the nav and main flex to be a column layout */
    #flex1 {
        flex-direction: column;
        align-items: center;
    }

    /* change the dimensions of the nav menu */
    nav ul {
        width: 100vw;
        height: auto;
        min-height: 10vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* change the spacing of the items of the nav menu */
    nav ul li {
        margin: 2% 1%;
        padding: 2% 2%;
    }

    /* readjust the main width */
    main {
        width: 100vw;
    }
}